@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.ticket {
    width: 100vw;
    height: 100vh;
    background: white;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 99999;
}

.ticket-header {
    display: flex;

    align-items: center;

    background: #0c59b8;
    color: white;

    height: 50px;

    font-size: 0.8rem;

    font-family: sans-serif;
}

.ticket-body {
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.ticket-body-title {
    color: #797979;
    font-size: 0.8rem;
    margin-top: 10px;
}

.ticket-body-qrcode {
    display: flex;
    justify-content: center;
}